.bologna{
    height: 30px;
}
.button{
    color: red;
    
    border: none;

}
.button:hover{
    color: red;
    background-color:none;
    
    border: none;
}
 .Navbar{

 }
.dropdown:hover .dropdown-menu {
    display: block;
}